In [1]:
import numpy as np
import pandas as pd

# 사용자정의 함수: key를 입력하면 해당 데이터를 데이터프레임으로 읽어옴
from aiddd.data_manager import read_data, write_data
from aiddd.utils import show_commas

#### 주요질문 for 업무도메인

##### 데이터셋 관련

* 데이터셋별 의미

In [ ]:
df = {
    'kbt': {
        '고객': read_data('kbt 고객'),
        '인입선': read_data('kbt 인입선'),
        '장주애자': read_data('kbt 장주애자'),
        '전선': read_data('kbt 전선'),
        '전주': read_data('kbt 전주'),
        '접지': read_data('kbt 접지'),
        '지지선': read_data('kbt 지지선'),
    },
    '공사비': {
        '공사비': read_data('공사비'),
    },
    '기별': {
        '애자': read_data('기별 애자'),
        '인입선': read_data('기별 인입선'),
        '장주': read_data('기별 장주'),
        '전선': read_data('기별 전선'),
        '전주': read_data('기별 전주'),
        '접지': read_data('기별 접지'),
        '지지선': read_data('기별 지지선'),
    },
    '설계': {
        '고객': read_data('설계 고객'),
        '애자': read_data('설계 애자'),
        '인입선': read_data('설계 인입선'),
        '장주': read_data('설계 장주'),
        '전선': read_data('설계 전선'),
        '전주': read_data('설계 전주'),
        '접지': read_data('설계 접지'),
        '지지선': read_data('설계 지지선'),
    },
}

##### 유효 데이터

In [2]:
df_data = read_data('통계 전체')
show_commas(df_data)

* 제외조건: 접수종류명 != 신설(상용/임시)

In [2]:
df_cc = read_data('공사비')
df_cc['접수종류명'].value_counts()

접수종류명
신설(상용/임시)     5810
신설(발전기)        597
증설             185
공급방식변경증설       155
계약종별변경증설       127
단순공급방식변경        74
해지후재사용(신규)      46
공급지점변경          43
일부해지(신규)        27
계약단위합병          23
신증설(예비전력)        6
증설(발전기)          2
계약변경(발전기)        1
계약단위분할           1
Name: count, dtype: int64

* 제외조건: 1 <= 전주수 < 11

In [5]:
df_cnt = read_data('병합 전체카운트')
show_cols = ['계약전력', '기별:전주', '기별:전선', '기별:인입선', '설계:전주', '설계:전선', '설계:인입선']
show_commas(df_cnt[show_cols].head(30))

In [6]:
bd_cond = (df_cnt['기별:전주'] > 0) & (df_cnt['기별:전주'] < 11)
ds_cond = (df_cnt['설계:전주'] > 0) & (df_cnt['설계:전주'] < 11)

print(f'기별 데이터셋 기준 레코드수: {df_cnt[bd_cond].shape[0]}')
print(f'설계 데이터셋 기준 레코드수: {df_cnt[ds_cond].shape[0]}')

기별 데이터셋 기준 레코드수: 1299
설계 데이터셋 기준 레코드수: 3340

* 전주 vs 장주 차이점

  > 전주나 장주 및 기타 데이터셋의 각 row는 하나의 전주나 장주 등을 의미하나?

* 전주 vs 전선 vs 인입선 관계

  > 1. 저압 계약전력의 범위? <br/>
  > 2. 기별 vs 설계 
  > 3. 인입선 수? <br/>
  > 4. 전주와 전선과 인입선의 관계?

In [7]:
df_data = read_data('병합 전체카운트')
show_cols = ['계약전력', '기별:전주', '기별:전선', '기별:인입선', '설계:전주', '설계:전선', '설계:인입선']
show_commas(df_data[df_data['기별:전주']!=0][show_cols].head(20))

##### 데이터 관련

* 전주 또는 장주의 위치정보는 어디에 있나?

  > 전체 데이터의 컬럼을 `['위치', '위도', '경도', 'LAT', 'LON']` 값으로 검색했을 때, 확인된 값은 `설계 전주: ['점용위치코드', '점용위치구분코드']`뿐임

#### 주요질문 for GIS 담당자